
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.web-main-page-home-search2-hNy {
  box-sizing: border-box;
  padding-top: 8.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0.9rem 1.7rem 1.1rem rgba(255, 255, 255, 0.349999994);
  background-color: #f3f3fc;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX {
  margin: 0rem 0rem 4.5rem 13rem;
  width: 183.6364rem;
  height: 102.1rem;
  position: relative;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .background-SUy {
  width: 111.6279rem;
  height: 35.0279rem;
  position: absolute;
  left: 22.9rem;
  top: 19.4rem;
  display: flex;
  align-items: flex-end;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .background-SUy .ellipse-2-YY1 {
  margin: 0rem 54.2rem 2.828rem 0rem;
  width: 32.2rem;
  height: 32.2rem;
  filter: blur(22.5827rem);
  background-color: rgba(42, 113, 221, 0.4499999881);
  border-radius: 16.1rem;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .background-SUy .ellipse-1-q1K {
  width: 25.2279rem;
  height: 25.2279rem;
  filter: blur(17.693rem);
  background-color: #4461f2;
  border-radius: 12.614rem;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .frame-1-iqo {
  width: 20.8rem;
  height: 6.8196rem;
  position: absolute;
  left: 126rem;
  top: 0;
  display: flex;
  font-size: 3.4rem;
  font-weight: 900;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(276.14deg, #3a8ef6 110.84%, #6e39f9 296.74%);
  border-radius: 1.7049rem;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .group-7-9AR {
  width: 7.8rem;
  height: 4.6334rem;
  position: absolute;
  left: 77.8rem;
  top: 0.95rem;
  display: flex;
  font-size: 2.5383rem;
  font-weight: 700;
  line-height: 1.5;
  color: #404040;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.238rem #115ebf;
  box-sizing: border-box;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .frame-2-nDP {
  box-sizing: border-box;
  padding: 1.4rem 1.5rem 1rem 10.7rem;
  width: 34.1rem;
  height: 7.2rem;
  position: absolute;
  left: 0;
  top: 20.9rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #b3b3b3;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 4rem;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .frame-2-nDP .item--G8Z {
  margin-right: 7.9rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #515151;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .frame-2-nDP .group-20-kpR {
  width: 6.1rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .item--4q7 {
  width: 51.4rem;
  height: 21rem;
  position: absolute;
  left: 0.1rem;
  top: 36.4rem;
  display: flex;
  font-size: 9rem;
  font-weight: 700;
  line-height: 1.1666666667;
  color: #1678f2;
  font-family: Poppins, 'Source Sans Pro';
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .item--4q7 .item--4q7-sub-0 {
  font-size: 9rem;
  font-weight: 700;
  line-height: 1.1666666667;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .item--4q7 .item--4q7-sub-1 {
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .bmi--Vow {
  width: 45.9rem;
  height: 4.3rem;
  position: absolute;
  left: 0.1rem;
  top: 68rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.34375;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .item-1--YXK {
  width: 27.6rem;
  height: 4.3rem;
  position: absolute;
  left: 2rem;
  top: 97.3rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.34375;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .rectangle-25-C65 {
  width: 86.9rem;
  height: 12rem;
  position: absolute;
  left: 0;
  top: 78.8rem;
  box-shadow: 0.2rem 0.6rem 0.4rem rgba(144, 139, 139, 0.400000006);
  background-color: #f8f6f6;
  border-radius: 5rem;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .item--hHj {
  width: 18.4rem;
  height: 4.5rem;
  position: absolute;
  left: 4.7rem;
  top: 82.5rem;
  display: flex;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(81, 81, 81, 0.8000000119);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .kisspng-physician-diabetes-mellitus-computer-disease-preve-doctor-and-computer-5a99b82dcadc58-1-YZF {
  width: 128.5364rem;
  height: 96.5rem;
  position: absolute;
  left: 55.1rem;
  top: 5.6rem;
  object-fit: cover;
  vertical-align: top;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .frame-9-Rd3 {
  width: 27.4rem;
  height: 7.8rem;
  position: absolute;
  left: 56.4rem;
  top: 80.9rem;
  display: flex;
  column-gap: 2rem;
  align-items: center;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .frame-9-Rd3 .group-237461-7km {
  box-sizing: border-box;
  padding: 2.444rem 2.122rem 2.544rem 2.022rem;
  height: 100%;
  background: linear-gradient(276.14deg, #3a8ef6 110.84%, #6e39f9 296.74%);
  border-radius: 3.9rem;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .frame-9-Rd3 .group-237461-7km .heroicons-outline-photo-FMB {
  width: 3.6563rem;
  height: 2.8125rem;
  object-fit: contain;
  vertical-align: top;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .frame-9-Rd3 .group-237462-LdX {
  box-sizing: border-box;
  padding: 1.881rem 2.825rem 1.981rem 2.725rem;
  height: 100%;
  background: linear-gradient(276.14deg, #3a8ef6 110.84%, #6e39f9 296.74%);
  border-radius: 3.9rem;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .frame-9-Rd3 .group-237462-LdX .heroicons-outline-microphone-5LD {
  width: 2.25rem;
  height: 3.9375rem;
  object-fit: contain;
  vertical-align: top;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .frame-9-Rd3 .group-237463-N4R {
  box-sizing: border-box;
  padding: 2.163rem 2.263rem 2.263rem 2.163rem;
  height: 100%;
  background: linear-gradient(276.14deg, #3a8ef6 110.84%, #6e39f9 296.74%);
  border-radius: 3.9rem;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .frame-9-Rd3 .group-237463-N4R .heroicons-outline-magnifying-glass-TrZ {
  width: 3.375rem;
  height: 3.375rem;
  object-fit: contain;
  vertical-align: top;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .group-1-kam {
  width: 8.3684rem;
  height: 7.1214rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
  object-fit: contain;
  vertical-align: top;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .item--tS5 {
  width: 3.1rem;
  height: 3.9rem;
  position: absolute;
  left: 101.8rem;
  top: 1.05rem;
  display: flex;
  font-size: 2.538rem;
  font-weight: 400;
  line-height: 1.5;
  color: #565148;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .item--zED {
  width: 3.1rem;
  height: 3.9rem;
  position: absolute;
  left: 91rem;
  top: 1.05rem;
  display: flex;
  font-size: 2.538rem;
  font-weight: 400;
  line-height: 1.5;
  color: #565148;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .group-6-Ffw {
  width: 24.3415rem;
  height: 7.8rem;
  position: absolute;
  left: 9.9rem;
  top: 1.1rem;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .group-6-Ffw .group-3-mPP {
  width: 3.2415rem;
  height: 3.2415rem;
  position: absolute;
  left: 21.1rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .group-6-Ffw .helpthme-6gZ {
  width: 22.4rem;
  height: 6.6rem;
  position: absolute;
  left: 0;
  top: 1.2rem;
  display: flex;
  font-size: 4.4rem;
  font-weight: 900;
  line-height: 1.5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .auto-group-vcxr-MTX .item--pMf {
  width: 6.1rem;
  height: 3.9rem;
  position: absolute;
  left: 112.2rem;
  top: 1.15rem;
  display: flex;
  font-size: 2.538rem;
  font-weight: 400;
  line-height: 1.5;
  color: #565148;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .rectangle-326-WVP {
  margin: 0rem 0rem 4.5rem 17.1rem;
  width: 30.9rem;
  height: 37rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .item--coK {
  margin: 0rem 0rem 18.5rem 16.7rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .item--coK .g-LDX {
  margin-bottom: 5.2rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 0.4;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .item--coK .item-4000-TJ9 {
  margin-left: 0.4rem;
  font-size: 4rem;
  font-weight: 500;
  line-height: 0.6;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .auto-group-azeh-BE9 {
  margin: 0rem 12.965rem 4.5rem 12.8rem;
  width: calc(100% - 25.765rem);
  height: 10.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .auto-group-azeh-BE9 .item--Vkd {
  display: flex;
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .auto-group-azeh-BE9 .auto-group-sxrw-1ys {
  box-sizing: border-box;
  padding: 1.2rem 0rem 0.783rem 106.558rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .auto-group-azeh-BE9 .auto-group-sxrw-1ys .auto-group-xrth-kRf {
  margin-right: 2.6542rem;
  width: 8.3417rem;
  height: 8.5175rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .auto-group-azeh-BE9 .auto-group-sxrw-1ys .auto-group-ocn5-2PB {
  width: 8.2808rem;
  height: 8.5175rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .frame-3-MwF {
  margin: 0rem 0rem 12.2rem 13.1rem;
  width: calc(100% - 13.1rem);
  height: 52.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-gmjq-5MT {
  box-sizing: border-box;
  padding: 1.2rem 6rem 1.2rem 0rem;
  width: 185rem;
  height: 100%;
  display: flex;
  column-gap: 6rem;
  align-items: center;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-gmjq-5MT .group-237456-NrM {
  width: 31rem;
  height: 100%;
  border-radius: 4.2649rem;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-gmjq-5MT .group-237456-NrM .rectangle-1-jB7 {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-iqX.png');
  border-radius: 4.2649rem;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-gmjq-5MT .group-237456-NrM .item--bz1 {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-gmjq-5MT .group-237456-NrM .item--tTK {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-gmjq-5MT .group-237457-zFT {
  width: 31rem;
  height: 100%;
  border-radius: 4.2649rem;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-gmjq-5MT .group-237457-zFT .rectangle-1-98M {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-Hcd.png');
  border-radius: 4.2649rem;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-gmjq-5MT .group-237457-zFT .item--FhB {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-gmjq-5MT .group-237457-zFT .item--AZF {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-gmjq-5MT .group-237458-rgy {
  width: 31rem;
  height: 100%;
  border-radius: 4.2649rem;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-gmjq-5MT .group-237458-rgy .rectangle-1-os7 {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-bEq.png');
  border-radius: 4.2649rem;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-gmjq-5MT .group-237458-rgy .item--Vzq {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-gmjq-5MT .group-237458-rgy .item--oEq {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-gmjq-5MT .group-237459-W9F {
  width: 31rem;
  height: 100%;
  border-radius: 4.2649rem;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-gmjq-5MT .group-237459-W9F .rectangle-1-rD7 {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-1xm.png');
  border-radius: 4.2649rem;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-gmjq-5MT .group-237459-W9F .item--NBT {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-gmjq-5MT .group-237459-W9F .item--UkH {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-gmjq-5MT .group-237460-o1s {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4.2649rem;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-gmjq-5MT .group-237460-o1s .rectangle-1-iuX {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-vYh.png');
  border-radius: 4.2649rem;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-gmjq-5MT .group-237460-o1s .item--qjF {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-gmjq-5MT .group-237460-o1s .item--YtZ {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-ywah-2Yq {
  width: 88.1rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-ywah-2Yq .group-237461-n2D {
  box-sizing: border-box;
  padding-bottom: 2.4rem;
  width: 51.1rem;
  height: 52.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4.2649rem;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-ywah-2Yq .group-237461-n2D .rectangle-1-hQ5 {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-MRj.png');
  border-radius: 4.2649rem;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-ywah-2Yq .group-237461-n2D .product-name-P21 {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-ywah-2Yq .group-237461-n2D .lorem-ipsum-amet-dolor-etit-tu-4tq {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-ywah-2Yq .group-237462-a6V {
  box-sizing: border-box;
  padding-bottom: 2.4rem;
  width: 51.1rem;
  height: 52.4rem;
  position: absolute;
  left: 37rem;
  top: 0;
  border-radius: 4.2649rem;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-ywah-2Yq .group-237462-a6V .rectangle-1-tss {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-Nrm.png');
  border-radius: 4.2649rem;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-ywah-2Yq .group-237462-a6V .product-name-pFj {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .frame-3-MwF .auto-group-ywah-2Yq .group-237462-a6V .lorem-ipsum-amet-dolor-etit-tu-9Yu {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .frame-4-rCR {
  margin: 0rem 0rem 12.2rem 12rem;
  width: calc(100% - 12rem);
  height: 52.4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-ny25-kHo {
  box-sizing: border-box;
  padding: 1.2rem 6rem 1.2rem 0rem;
  width: 185rem;
  height: 100%;
  display: flex;
  column-gap: 6rem;
  align-items: center;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-ny25-kHo .group-237456-oms {
  width: 31rem;
  height: 100%;
  border-radius: 4.2649rem;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-ny25-kHo .group-237456-oms .rectangle-1-kx1 {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-7Nq.png');
  border-radius: 4.2649rem;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-ny25-kHo .group-237456-oms .item--gam {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-ny25-kHo .group-237456-oms .item--o9b {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-ny25-kHo .group-237457-i1f {
  width: 31rem;
  height: 100%;
  border-radius: 4.2649rem;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-ny25-kHo .group-237457-i1f .rectangle-1-fBo {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-coB.png');
  border-radius: 4.2649rem;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-ny25-kHo .group-237457-i1f .item--b5T {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-ny25-kHo .group-237457-i1f .item--gch {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-ny25-kHo .group-237458-QHo {
  width: 31rem;
  height: 100%;
  border-radius: 4.2649rem;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-ny25-kHo .group-237458-QHo .rectangle-1-A25 {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-AmX.png');
  border-radius: 4.2649rem;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-ny25-kHo .group-237458-QHo .item--H6h {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-ny25-kHo .group-237458-QHo .item--CUZ {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-ny25-kHo .group-237459-Hku {
  width: 31rem;
  height: 100%;
  border-radius: 4.2649rem;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-ny25-kHo .group-237459-Hku .rectangle-1-Ew3 {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-eYH.png');
  border-radius: 4.2649rem;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-ny25-kHo .group-237459-Hku .item--Ywj {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-ny25-kHo .group-237459-Hku .item--UaV {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-ny25-kHo .group-237460-n5P {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4.2649rem;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-ny25-kHo .group-237460-n5P .rectangle-1-Y4Z {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-z7b.png');
  border-radius: 4.2649rem;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-ny25-kHo .group-237460-n5P .item--rb3 {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-ny25-kHo .group-237460-n5P .item--M21 {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-7jv7-emo {
  width: 88.1rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-7jv7-emo .group-237461-BWq {
  box-sizing: border-box;
  padding-bottom: 2.4rem;
  width: 51.1rem;
  height: 52.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4.2649rem;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-7jv7-emo .group-237461-BWq .rectangle-1-X4u {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-vDf.png');
  border-radius: 4.2649rem;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-7jv7-emo .group-237461-BWq .product-name-dNq {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-7jv7-emo .group-237461-BWq .lorem-ipsum-amet-dolor-etit-tu-xR7 {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-7jv7-emo .group-237462-5kd {
  box-sizing: border-box;
  padding-bottom: 2.4rem;
  width: 51.1rem;
  height: 52.4rem;
  position: absolute;
  left: 37rem;
  top: 0;
  border-radius: 4.2649rem;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-7jv7-emo .group-237462-5kd .rectangle-1-pCR {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-Yb3.png');
  border-radius: 4.2649rem;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-7jv7-emo .group-237462-5kd .product-name-LwT {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .frame-4-rCR .auto-group-7jv7-emo .group-237462-5kd .lorem-ipsum-amet-dolor-etit-tu-reu {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .footer-v1-N7T {
  box-sizing: border-box;
  padding: 14.396rem 11.996rem 2.894rem 10.419rem;
  width: 172.7468rem;
  overflow: hidden;
  position: relative;
  border-top: solid 0.12rem #eff0f6;
  background-color: #ffffff;
  border-radius: 5rem;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o {
  margin: 0rem 84.581rem 10.097rem 0rem;
  width: calc(100% - 84.5814rem);
  height: 30.9012rem;
  display: flex;
  align-items: flex-start;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o .px-CcH {
  margin-right: 12.7585rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o .px-CcH .group-1-jMK {
  margin: 0rem 0rem 2.879rem 1.458rem;
  width: 8.3684rem;
  height: 7.1214rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o .px-CcH .group-237468-FaZ {
  margin: 0rem 0rem 2.879rem 1.458rem;
  width: 24.4651rem;
  height: 8.1961rem;
  position: relative;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o .px-CcH .group-237468-FaZ .group-3-knD {
  width: 3.2415rem;
  height: 3.2415rem;
  position: absolute;
  left: 21.2237rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o .px-CcH .group-237468-FaZ .helpthme-53o {
  width: 22.4rem;
  height: 6.6rem;
  position: absolute;
  left: 0;
  top: 1.5961rem;
  display: flex;
  font-size: 4.4rem;
  font-weight: 900;
  line-height: 1.5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o .px-CcH .copyright-mxD {
  margin: 0rem 0rem 1.847rem 1.458rem;
  font-size: 2.1593rem;
  font-weight: 400;
  line-height: 1.6666666961;
  color: #6e6b8f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o .px-CcH .social-media-container-VNR {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o .px-CcH .social-media-container-VNR .social-media-icon-square-facebook-SHf {
  margin: 0rem 0.12rem 0.06rem 0rem;
  width: 4.3187rem;
  height: 4.3187rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o .px-CcH .social-media-container-VNR .social-media-icon-square-twitter-Xpu {
  margin: 0rem 0.6rem 0.06rem 0rem;
  width: 4.3187rem;
  height: 4.3187rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o .px-CcH .social-media-container-VNR .social-media-icon-square-instagram-r6V {
  margin: 0rem 0.6rem 0.06rem 0rem;
  width: 4.3187rem;
  height: 4.3187rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o .px-CcH .social-media-container-VNR .social-media-icon-square-linkedin-Ass {
  margin: 0.06rem 0.72rem 0rem 0rem;
  width: 4.3187rem;
  height: 4.3187rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o .px-CcH .social-media-container-VNR .social-media-icon-square-youtube-grD {
  margin-bottom: 0.06rem;
  width: 4.3187rem;
  height: 4.3187rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o .group-39464-BHB {
  width: 27.069rem;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o .group-39464-BHB .footer-title-vVf {
  margin-bottom: 4.9776rem;
  font-size: 2.3993rem;
  font-weight: 700;
  line-height: 1.1000000397;
  color: #1678f2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o .group-39464-BHB .master-link-3qB {
  box-sizing: border-box;
  padding-left: 0.2rem;
  width: 100%;
  height: 2.3997rem;
  display: flex;
  align-items: center;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o .group-39464-BHB .master-link-3qB .line-rounded-email-mWH {
  margin: 0.028rem 3.07rem 0rem 0rem;
  width: 1.9994rem;
  height: 1.4996rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o .group-39464-BHB .master-link-3qB .auto-group-gbyk-HUd {
  margin-bottom: 0.3997rem;
  width: 21.8rem;
  height: 2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1111111111;
  color: #4f555a;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o .group-39464-BHB .auto-group-cpjm-YvM {
  box-sizing: border-box;
  padding-top: 2.6388rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o .group-39464-BHB .auto-group-cpjm-YvM .master-link-6gy {
  margin: 0rem 7.65rem 2.639rem 0rem;
  box-sizing: border-box;
  padding-left: 0.2rem;
  width: calc(100% - 7.65rem);
  height: 2.3997rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o .group-39464-BHB .auto-group-cpjm-YvM .master-link-6gy .line-rounded-phone-1J9 {
  margin: 0.164rem 2.32rem 0rem 0rem;
  width: 1.9996rem;
  height: 1.9994rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o .group-39464-BHB .auto-group-cpjm-YvM .master-link-6gy .auto-group-jvch-vg1 {
  width: 14.9rem;
  height: 2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1111111111;
  color: #4f555a;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o .group-39464-BHB .auto-group-cpjm-YvM .px-d4d {
  margin-right: 11.7101rem;
  width: calc(100% - 11.7101rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o .group-39464-BHB .auto-group-cpjm-YvM .px-d4d .spacer-icon-wrapper-NH7 {
  margin-right: 0.9597rem;
  width: 2.3993rem;
  height: 3.0831rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .auto-group-sfnq-t5o .group-39464-BHB .auto-group-cpjm-YvM .px-d4d .footer-description-UL9 {
  max-width: 12rem;
  font-size: 2.1593rem;
  font-weight: 400;
  line-height: 1.6666666961;
  color: #4f555a;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .line-135-BkM {
  margin: 0rem 0rem 2.892rem 1.458rem;
  width: 148.8741rem;
  height: 0.12rem;
  background-color: #d9dbe9;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .footer-content-Jpy {
  margin: 0rem 1.671rem 0rem 2.705rem;
  width: calc(100% - 4.3764rem);
  display: flex;
  align-items: center;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .footer-content-Jpy .footer-left-3Gm {
  margin-right: 65.1553rem;
  font-size: 2.1593rem;
  font-weight: 400;
  line-height: 1.6666666961;
  color: #6e6b8f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .footer-content-Jpy .footer-right-wN9 {
  text-align: right;
  font-size: 2.1593rem;
  font-weight: 400;
  line-height: 1.6666666961;
  color: #6e6b8f;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.web-main-page-home-search2-hNy .footer-v1-N7T .footer-content-Jpy .footer-right-wN9 .footer-right-wN9-sub-0 {
  font-size: 2.1593rem;
  font-weight: 400;
  line-height: 1.6666666961;
  color: #6e6b8f;
  font-family: Poppins, 'Source Sans Pro';
}
.web-main-page-home-search2-hNy .footer-v1-N7T .footer-content-Jpy .footer-right-wN9 .footer-right-wN9-sub-1 {
  font-size: 2.1593rem;
  font-weight: 400;
  line-height: 1.6666666961;
  text-decoration-line: underline;
  color: #4a3aff;
  font-family: Poppins, 'Source Sans Pro';
}
.web-main-page-home-search2-hNy .footer-v1-N7T .footer-content-Jpy .footer-right-wN9 .footer-right-wN9-sub-2 {
  font-size: 2.1593rem;
  font-weight: 400;
  line-height: 1.6666666961;
  color: #6e6b8f;
  font-family: Poppins, 'Source Sans Pro';
}
.web-main-page-home-search2-hNy .footer-v1-N7T .footer-content-Jpy .footer-right-wN9 .footer-right-wN9-sub-3 {
  font-size: 2.1593rem;
  font-weight: 400;
  line-height: 1.6666666961;
  text-decoration-line: underline;
  color: #4a3aff;
  font-family: Poppins, 'Source Sans Pro';
}
