
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.web-order-insert-LLy {
  width: 100%;
  height: 393.1rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0.9rem 1.7rem 1.1rem rgba(255, 255, 255, 0.349999994);
  background-color: #f3f3fc;
}
.web-order-insert-LLy .auto-group-uegr-DvZ {
  width: 146.8rem;
  height: 8.9rem;
  position: absolute;
  left: 13rem;
  top: 8.2rem;
  display: flex;
  align-items: flex-start;
}
.web-order-insert-LLy .auto-group-uegr-DvZ .group-1-9JR {
  margin: 0.3rem 1.532rem 0rem 0rem;
  width: 8.3684rem;
  height: 7.1214rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-order-insert-LLy .auto-group-uegr-DvZ .group-237468-mqb {
  margin: 1.1rem 91.758rem 0rem 0rem;
  width: 24.3415rem;
  height: 7.8rem;
  position: relative;
  flex-shrink: 0;
}
.web-order-insert-LLy .auto-group-uegr-DvZ .group-237468-mqb .group-3-gxZ {
  width: 3.2415rem;
  height: 3.2415rem;
  position: absolute;
  left: 21.1rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.web-order-insert-LLy .auto-group-uegr-DvZ .group-237468-mqb .helpthme-2Fj {
  width: 22.4rem;
  height: 6.6rem;
  position: absolute;
  left: 0;
  top: 1.2rem;
  display: flex;
  font-size: 4.4rem;
  font-weight: 900;
  line-height: 1.5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-order-insert-LLy .auto-group-uegr-DvZ .frame-1-Kkd {
  margin-bottom: 2.0804rem;
  box-sizing: border-box;
  padding: 0.9rem 8.1rem 0.92rem 8rem;
  background: linear-gradient(276.14deg, #3a8ef6 110.84%, #6e39f9 296.74%);
  border-radius: 1.7049rem;
  flex-shrink: 0;
}
.web-order-insert-LLy .auto-group-uegr-DvZ .frame-1-Kkd .icon-dWR {
  width: 4.7rem;
  height: 5rem;
  object-fit: contain;
  vertical-align: top;
}
.web-order-insert-LLy .auto-group-tsdx-697 {
  width: 146.835rem;
  height: 12.4175rem;
  position: absolute;
  left: 13rem;
  top: 181.3rem;
  display: flex;
  align-items: flex-end;
}
.web-order-insert-LLy .auto-group-tsdx-697 .item--Q9o {
  margin: 0rem 111.858rem 6.417rem 0rem;
  display: flex;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-order-insert-LLy .auto-group-tsdx-697 .auto-group-hugd-frR {
  margin-right: 2.6542rem;
  width: 8.3417rem;
  height: 8.5175rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-order-insert-LLy .auto-group-tsdx-697 .auto-group-ft2q-C5f {
  width: 8.2808rem;
  height: 8.5175rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-order-insert-LLy .order-Xdj {
  width: 24.3rem;
  height: 1.6rem;
  position: absolute;
  left: 74.6rem;
  top: 24.9rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 0.32;
  letter-spacing: 1.5rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-order-insert-LLy .line-143-NeM {
  width: 146.8rem;
  height: 0.3rem;
  position: absolute;
  left: 13rem;
  top: 37.4rem;
  background-color: #000000;
}
.web-order-insert-LLy .auto-group-wqbo-hAq {
  width: 146.8rem;
  height: 10rem;
  position: absolute;
  left: 13rem;
  top: 49.9rem;
}
.web-order-insert-LLy .auto-group-wqbo-hAq .line-144-cYh {
  width: 146.8rem;
  height: 0.05rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: #8a8484;
}
.web-order-insert-LLy .auto-group-wqbo-hAq .line-145-LUh {
  width: 0.05rem;
  height: 10rem;
  position: absolute;
  left: 73.4rem;
  top: 0;
  background-color: #8a8484;
}
.web-order-insert-LLy .auto-group-wqbo-hAq .item--4fb {
  width: 7.7rem;
  height: 3.8rem;
  position: absolute;
  left: 29.1rem;
  top: 3.6rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-order-insert-LLy .auto-group-wqbo-hAq .item--jmj {
  width: 6.2rem;
  height: 3.8rem;
  position: absolute;
  left: 107.2rem;
  top: 3.6rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-order-insert-LLy .line-147-mTX {
  width: 146.8rem;
  height: 0.05rem;
  position: absolute;
  left: 13rem;
  top: 95.1rem;
  background-color: #8a8484;
}
.web-order-insert-LLy .line-152-6Eu {
  width: 146.8rem;
  height: 0.05rem;
  position: absolute;
  left: 13rem;
  top: 206.6rem;
  background-color: #8a8484;
}
.web-order-insert-LLy .line-148-28Z {
  width: 146.8rem;
  height: 0.05rem;
  position: absolute;
  left: 13rem;
  top: 105.3rem;
  background-color: #000000;
}
.web-order-insert-LLy .line-150-MRj {
  width: 146.8rem;
  height: 0.05rem;
  position: absolute;
  left: 13rem;
  top: 162.9rem;
  background-color: #000000;
}
.web-order-insert-LLy .line-149-4qw {
  width: 146.8rem;
  height: 0.3rem;
  position: absolute;
  left: 13rem;
  top: 110.6rem;
  background-color: #000000;
}
.web-order-insert-LLy .line-151-o2q {
  width: 146.8rem;
  height: 0.3rem;
  position: absolute;
  left: 13rem;
  top: 178.2rem;
  background-color: #000000;
}
.web-order-insert-LLy .line-153-ivV {
  width: 146.8rem;
  height: 0.3rem;
  position: absolute;
  left: 13rem;
  top: 276.2rem;
  background-color: #000000;
}
.web-order-insert-LLy .line-154-2gH {
  width: 146.8rem;
  height: 0.3rem;
  position: absolute;
  left: 13rem;
  top: 327.3rem;
  background-color: #000000;
}
.web-order-insert-LLy .line-146-Yed {
  width: 73.4rem;
  height: 0.05rem;
  position: absolute;
  left: 13rem;
  top: 59.9rem;
  background-color: #8a8484;
}
.web-order-insert-LLy .item--GKj {
  width: 7.3rem;
  height: 6rem;
  position: absolute;
  left: 13rem;
  top: 40.9rem;
  display: flex;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-order-insert-LLy .item--wwf {
  width: 9.7rem;
  height: 6rem;
  position: absolute;
  left: 13rem;
  top: 113.7rem;
  display: flex;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-order-insert-LLy .item--C6u {
  width: 9.7rem;
  height: 6rem;
  position: absolute;
  left: 13rem;
  top: 279.3rem;
  display: flex;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-order-insert-LLy .item--5Rb {
  width: 9.7rem;
  height: 6rem;
  position: absolute;
  left: 13rem;
  top: 330.4rem;
  display: flex;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-order-insert-LLy .auto-group-cu8y-9gM {
  width: 42.5rem;
  height: 27.1rem;
  position: absolute;
  left: 13rem;
  top: 124.6rem;
  display: flex;
  align-items: flex-start;
}
.web-order-insert-LLy .auto-group-cu8y-9gM .frame-16-H1s {
  margin-right: 3.6rem;
  width: 17.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: solid 0.1rem #8a8484;
  box-sizing: border-box;
  box-shadow: 0.2rem 0.4rem 0.4rem rgba(0, 0, 0, 0.150000006);
  background: linear-gradient(316.23deg, #efefef 99.87%, rgba(187, 187, 187, 0) 200.63%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/frame-16-bg-9Jq.png');
  flex-shrink: 0;
}
.web-order-insert-LLy .auto-group-cu8y-9gM .auto-group-6hnr-W9X {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.web-order-insert-LLy .auto-group-cu8y-9gM .auto-group-6hnr-W9X .g-FN1 {
  margin-bottom: 1.6rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-order-insert-LLy .auto-group-cu8y-9gM .auto-group-6hnr-W9X .item-12-6-2-AUy {
  margin-bottom: 1.1rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #595246;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-order-insert-LLy .auto-group-cu8y-9gM .auto-group-6hnr-W9X .item-1-rch {
  margin-bottom: 4.9rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #595246;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-order-insert-LLy .auto-group-cu8y-9gM .auto-group-6hnr-W9X .item-29100-Nqw {
  display: flex;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-order-insert-LLy .auto-group-mmnh-Hi1 {
  width: 143rem;
  height: 3.8rem;
  position: absolute;
  left: 13rem;
  top: 156.6rem;
  display: flex;
  align-items: center;
}
.web-order-insert-LLy .auto-group-mmnh-Hi1 .item--R3X {
  margin-right: 129.8rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #595246;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-order-insert-LLy .auto-group-mmnh-Hi1 .item-3000-J7K {
  display: flex;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-order-insert-LLy .item--noB {
  width: 141.7rem;
  height: 6.8rem;
  position: absolute;
  left: 15.5rem;
  top: 96.7rem;
}
.web-order-insert-LLy .item--noB .item--WDP {
  width: 19.7rem;
  height: 3.8rem;
  position: absolute;
  left: 2.4rem;
  top: 1.6rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-order-insert-LLy .item--noB .rectangle-1146-aU9 {
  width: 141.7rem;
  height: 6.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.05rem #000000;
  box-sizing: border-box;
}
.web-order-insert-LLy .item--noB .icon-tzd {
  width: 1.2rem;
  height: 1rem;
  position: absolute;
  left: 138.2rem;
  top: 3rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.1rem;
}
.web-order-insert-LLy .item--nq7 {
  width: 144.2rem;
  height: 6.8rem;
  position: absolute;
  left: 13rem;
  top: 195.7rem;
  display: flex;
  align-items: center;
}
.web-order-insert-LLy .item--nq7 .item--gQh {
  margin: 0.3rem 11.3rem 0rem 0rem;
  display: flex;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8000000119);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-order-insert-LLy .item--nq7 .auto-group-vlph-AKs {
  width: 120rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.web-order-insert-LLy .item--nq7 .auto-group-vlph-AKs .line-152-WPj {
  width: 0.05rem;
  height: 6.8rem;
  position: absolute;
  left: 110.6rem;
  top: 0;
  background-color: #000000;
}
.web-order-insert-LLy .item--nq7 .auto-group-vlph-AKs .rectangle-1147-Ead {
  width: 120rem;
  height: 6.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.05rem #000000;
  box-sizing: border-box;
}
.web-order-insert-LLy .item--nq7 .auto-group-vlph-AKs .item--AUH {
  width: 2.8rem;
  height: 3.5rem;
  position: absolute;
  left: 113.3rem;
  top: 1.7rem;
  display: flex;
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-order-insert-LLy .item--DhT {
  width: 144.2rem;
  height: 6.8rem;
  position: absolute;
  left: 13rem;
  top: 209.9rem;
  display: flex;
  align-items: center;
}
.web-order-insert-LLy .item--DhT .item--729 {
  margin: 0.3rem 7.9rem 0rem 0rem;
  display: flex;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8000000119);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-order-insert-LLy .item--DhT .auto-group-mpjs-bT7 {
  width: 129.9rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.web-order-insert-LLy .item--DhT .auto-group-mpjs-bT7 .line-152-Y7T {
  width: 0.05rem;
  height: 6.8rem;
  position: absolute;
  left: 116.6rem;
  top: 0;
  background-color: #000000;
}
.web-order-insert-LLy .item--DhT .auto-group-mpjs-bT7 .rectangle-1147-rtq {
  width: 129.9rem;
  height: 6.8rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.05rem #000000;
  box-sizing: border-box;
}
.web-order-insert-LLy .item--DhT .auto-group-mpjs-bT7 .item--BgD {
  width: 5.7rem;
  height: 3.5rem;
  position: absolute;
  left: 119rem;
  top: 1.85rem;
  display: flex;
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-order-insert-LLy .item-0-Ghf {
  width: 8.2rem;
  height: 3.8rem;
  position: absolute;
  left: 145rem;
  top: 219.2rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-order-insert-LLy .item--8zm {
  box-sizing: border-box;
  padding: 5rem 4.421rem 5.1rem 4.421rem;
  width: 138.1rem;
  height: 26.6rem;
  position: absolute;
  left: 16.6rem;
  top: 227.1rem;
  background-color: rgba(236, 236, 236, 0.6999999881);
}
.web-order-insert-LLy .item--8zm .item-1-0-3000-0--Czd {
  max-width: 66.5rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.web-order-insert-LLy .item--xVw {
  width: 145.3rem;
  height: 9.65rem;
  position: absolute;
  left: 13rem;
  top: 257.1rem;
  border-bottom: solid 0.05rem #000000;
  box-sizing: border-box;
}
.web-order-insert-LLy .item--xVw .auto-group-64u7-Fjw {
  box-sizing: border-box;
  padding: 2.1rem 5.7rem 2.2rem 3.6rem;
  width: 100%;
  height: 9.6rem;
  display: flex;
  align-items: center;
  background-color: #ececec;
}
.web-order-insert-LLy .item--xVw .auto-group-64u7-Fjw .item--AM7 {
  margin-right: 120.9rem;
  display: flex;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8000000119);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-order-insert-LLy .item--xVw .auto-group-64u7-Fjw .item-0-f2y {
  display: flex;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8000000119);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-order-insert-LLy .item--KNR {
  width: 145.3rem;
  height: 9.65rem;
  position: absolute;
  left: 13rem;
  top: 308.7rem;
  border-bottom: solid 0.05rem #000000;
  box-sizing: border-box;
}
.web-order-insert-LLy .item--KNR .auto-group-xyjv-P7P {
  box-sizing: border-box;
  padding: 1.3rem 3.7rem 1.5rem 3.6rem;
  width: 100%;
  height: 9.6rem;
  display: flex;
  align-items: center;
  background-color: #ececec;
}
.web-order-insert-LLy .item--KNR .auto-group-xyjv-P7P .item--6nV {
  margin: 0.1rem 107.7rem 0rem 0rem;
  display: flex;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8000000119);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-order-insert-LLy .item--KNR .auto-group-xyjv-P7P .item-32100-zN5 {
  display: flex;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8000000119);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-order-insert-LLy .item--Uo3 {
  box-sizing: border-box;
  padding: 2.6rem 3.6rem 2.8rem 3.6rem;
  width: 145.3rem;
  height: 9.6rem;
  position: absolute;
  left: 13rem;
  top: 347.1rem;
  display: flex;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2f52ff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.15rem #4461f2;
  background-color: #ececec;
}
.web-order-insert-LLy .item--6Jd {
  box-sizing: border-box;
  padding: 0.95rem 1.3rem 1.15rem 1.3rem;
  width: 145.3rem;
  height: 9.6rem;
  position: absolute;
  left: 13rem;
  top: 361.5rem;
  border: solid 0.15rem #8a8484;
  background-color: rgba(230, 227, 255, 0.3000000119);
}
.web-order-insert-LLy .item--6Jd .pg--NX3 {
  max-width: 48.1rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
}
.web-order-insert-LLy .item--Mds {
  width: 145.3rem;
  height: 9.6rem;
  position: absolute;
  left: 13rem;
  top: 375.9rem;
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
.web-order-insert-LLy .auto-group-7mp7-QMF {
  width: 142.4rem;
  height: 5.6rem;
  position: absolute;
  left: 13rem;
  top: 287.3rem;
  display: flex;
  align-items: flex-start;
}
.web-order-insert-LLy .auto-group-7mp7-QMF .item--Xgm {
  margin-right: 119.6rem;
  display: flex;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8000000119);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-order-insert-LLy .auto-group-7mp7-QMF .item-29100-qhT {
  display: flex;
  font-size: 3.7rem;
  font-weight: 600;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8000000119);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-order-insert-LLy .auto-group-b27s-MQu {
  width: 16.8rem;
  height: 5.3rem;
  position: absolute;
  left: 13rem;
  top: 338.4rem;
  display: flex;
  align-items: center;
}
.web-order-insert-LLy .auto-group-b27s-MQu .icon-HZT {
  margin-right: 1.4rem;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-order-insert-LLy .auto-group-b27s-MQu .item--Di1 {
  display: flex;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8000000119);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-order-insert-LLy .auto-group-5dbx-we1 {
  width: 142rem;
  height: 5.6rem;
  position: absolute;
  left: 13rem;
  top: 293.1rem;
  display: flex;
  align-items: flex-start;
}
.web-order-insert-LLy .auto-group-5dbx-we1 .item--5VK {
  margin-right: 120.4rem;
  display: flex;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8000000119);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-order-insert-LLy .auto-group-5dbx-we1 .item-3000-Pku {
  display: flex;
  font-size: 3.7rem;
  font-weight: 600;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8000000119);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-order-insert-LLy .auto-group-2kum-KeZ {
  width: 142.1rem;
  height: 5.6rem;
  position: absolute;
  left: 13rem;
  top: 298.9rem;
  display: flex;
  align-items: flex-start;
}
.web-order-insert-LLy .auto-group-2kum-KeZ .item--fCd {
  margin-right: 121.3rem;
  display: flex;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8000000119);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-order-insert-LLy .auto-group-2kum-KeZ .item-0-Ef3 {
  display: flex;
  font-size: 3.7rem;
  font-weight: 600;
  line-height: 1.5;
  color: #c70018;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-order-insert-LLy .item--wpM {
  width: 13rem;
  height: 3rem;
  position: absolute;
  left: 15.5rem;
  top: 106.4rem;
  display: flex;
  align-items: center;
}
.web-order-insert-LLy .item--wpM .icon-rRX {
  margin: 0rem 0.8rem 0.1rem 0rem;
  width: 2.3rem;
  height: 2.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-order-insert-LLy .item--wpM .item--yW9 {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-order-insert-LLy .item--53P {
  width: 146.8rem;
  height: 6.8rem;
  position: absolute;
  left: 13rem;
  top: 62.8rem;
  display: flex;
  align-items: center;
}
.web-order-insert-LLy .item--53P .item--Ppm {
  margin: 0.1rem 9.8rem 0rem 0rem;
  display: flex;
  font-size: 2.7rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.web-order-insert-LLy .item--53P .item--Ppm .item--Ppm-sub-0 {
}
.web-order-insert-LLy .item--53P .item--Ppm .item--Ppm-sub-1 {
  font-size: 2.7rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1678f2;
  font-family: Poppins, 'Source Sans Pro';
}
.web-order-insert-LLy .item--53P .auto-group-s5sq-GGH {
  box-sizing: border-box;
  padding: 1.5rem 2rem;
  width: 129.4rem;
  height: 100%;
  display: flex;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.05rem #000000;
  flex-shrink: 0;
}
.web-order-insert-LLy .item--9L5 {
  width: 146.8rem;
  height: 14.7rem;
  position: absolute;
  left: 13rem;
  top: 70.6rem;
}
.web-order-insert-LLy .item--9L5 .auto-group-cmqm-sWy {
  margin-bottom: 1.1rem;
  height: 6.8rem;
  display: flex;
  align-items: center;
}
.web-order-insert-LLy .item--9L5 .auto-group-cmqm-sWy .item--pBK {
  margin: 0.1rem 13rem 0rem 0rem;
  display: flex;
  font-size: 2.7rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1678f2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.web-order-insert-LLy .item--9L5 .auto-group-cmqm-sWy .item--pBK .item--pBK-sub-0 {
  font-size: 2.7rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.web-order-insert-LLy .item--9L5 .auto-group-cmqm-sWy .item--pBK .item--pBK-sub-1 {
}
.web-order-insert-LLy .item--9L5 .auto-group-cmqm-sWy .auto-group-zujs-Ptd {
  box-sizing: border-box;
  padding: 1.5rem 2rem;
  width: 30.8rem;
  height: 100%;
  display: flex;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.05rem #000000;
  flex-shrink: 0;
}
.web-order-insert-LLy .item--9L5 .auto-group-cmqm-sWy .auto-group-3qkx-Sru {
  box-sizing: border-box;
  padding: 1.4rem 1.4rem 1.6rem 1.4rem;
  width: 11.9rem;
  height: 100%;
  display: flex;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.05rem #000000;
  flex-shrink: 0;
}
.web-order-insert-LLy .item--9L5 .auto-group-eyjj-jLD {
  margin-left: 17.4rem;
  box-sizing: border-box;
  padding: 1.5rem 2rem;
  width: 129.4rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.05rem #000000;
}
.web-order-insert-LLy .item--1Hj {
  width: 146.8rem;
  height: 6.8831rem;
  position: absolute;
  left: 13rem;
  top: 86.4rem;
  display: flex;
  align-items: center;
}
.web-order-insert-LLy .item--1Hj .item--ue1 {
  margin: 0.217rem 9.8rem 0rem 0rem;
  display: flex;
  font-size: 2.7rem;
  font-weight: 500;
  line-height: 1.5;
  color: #1678f2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.web-order-insert-LLy .item--1Hj .item--ue1 .item--ue1-sub-0 {
  font-size: 2.7rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.web-order-insert-LLy .item--1Hj .item--ue1 .item--ue1-sub-1 {
}
.web-order-insert-LLy .item--1Hj .item-010-5B7 {
  margin: 0rem 0.3rem 0.083rem 0rem;
  box-sizing: border-box;
  padding: 1.5rem 2rem;
  width: 42.7rem;
  height: 6.8rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.05rem #000000;
  flex-shrink: 0;
}
.web-order-insert-LLy .item--1Hj .item--ufw {
  margin: 0rem 0.3rem 0.083rem 0rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-order-insert-LLy .item--1Hj .item-1234-2Vf {
  margin: 0rem 0.3rem 0.083rem 0rem;
  box-sizing: border-box;
  padding: 1.5rem 2rem;
  width: 42.7rem;
  height: 6.8rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.05rem #000000;
  flex-shrink: 0;
}
.web-order-insert-LLy .item--1Hj .item--HRb {
  margin: 0.117rem 0.3rem 0rem 0rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-order-insert-LLy .item--1Hj .item-4567-bx5 {
  margin-top: 0.0831rem;
  box-sizing: border-box;
  padding: 1.5rem 1.9rem 1.5rem 1.9rem;
  width: 40.4rem;
  height: 6.8rem;
  display: flex;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.05rem #000000;
  flex-shrink: 0;
}
