
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.web-login-EQy {
  box-sizing: border-box;
  padding: 9.2rem 9.4rem 0rem 6.526rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f3f3fd;
  border-radius: 3.3902rem;
}
.web-login-EQy .auto-group-grt7-KSR {
  margin: 0rem 1.407rem 6.044rem 1.974rem;
  width: calc(100% - 3.3808rem);
  height: 8.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.web-login-EQy .auto-group-grt7-KSR .group-237468-1a9 {
  margin: 0rem 1.332rem 1.379rem 0rem;
  width: 8.3684rem;
  height: 7.1214rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-login-EQy .auto-group-grt7-KSR .group-237467-6bb {
  margin: 0.7rem 27.259rem 0rem 0rem;
  width: 24.3415rem;
  height: 7.8rem;
  position: relative;
  flex-shrink: 0;
}
.web-login-EQy .auto-group-grt7-KSR .group-237467-6bb .group-3-2EM {
  width: 3.2415rem;
  height: 3.2415rem;
  position: absolute;
  left: 21.1rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.web-login-EQy .auto-group-grt7-KSR .group-237467-6bb .helpthme-YiV {
  width: 22.4rem;
  height: 6.6rem;
  position: absolute;
  left: 0;
  top: 1.2rem;
  display: flex;
  font-size: 4.4rem;
  font-weight: 900;
  line-height: 1.5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-login-EQy .auto-group-grt7-KSR .home-S3B {
  margin: 0rem 4.3rem 1.1rem 0rem;
  display: flex;
  font-size: 2.1596rem;
  font-weight: 400;
  line-height: 1.5;
  color: #404040;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-login-EQy .auto-group-grt7-KSR .item--hzh {
  margin: 0rem 7.392rem 1.1rem 0rem;
  display: flex;
  font-size: 2.538rem;
  font-weight: 400;
  line-height: 1.5;
  color: #565148;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-login-EQy .auto-group-grt7-KSR .item--ziu {
  margin: 0rem 7.308rem 1.132rem 0rem;
  display: flex;
  font-size: 2.538rem;
  font-weight: 400;
  line-height: 1.5;
  color: #565148;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-login-EQy .auto-group-grt7-KSR .item--fa9 {
  margin: 0rem 22.7rem 1.1rem 0rem;
  display: flex;
  font-size: 2.538rem;
  font-weight: 400;
  line-height: 1.5;
  color: #565148;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-login-EQy .auto-group-grt7-KSR .top-side-tho {
  margin: 1.503rem 0rem 2.654rem 0rem;
  height: calc(100% - 4.157rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.web-login-EQy .auto-group-grt7-KSR .top-side-tho .language-opm {
  margin: 1.185rem 3.975rem 0.558rem 0rem;
  height: calc(100% - 1.743rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.web-login-EQy .auto-group-grt7-KSR .top-side-tho .language-opm .item--8s3 {
  margin-right: 3.0003rem;
  font-size: 1.6789rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.1007rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-login-EQy .auto-group-grt7-KSR .top-side-tho .language-opm .icon-S73 {
  margin-top: 0.0612rem;
  width: 0.9794rem;
  height: 0.6376rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-login-EQy .auto-group-grt7-KSR .top-side-tho .sign-in-ktR {
  margin-right: 5.6305rem;
  width: 3.6467rem;
  height: 3.3579rem;
  font-size: 1.6789rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1007rem;
  color: #4461f2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.2963rem #4461f2;
  box-sizing: border-box;
  flex-shrink: 0;
}
.web-login-EQy .auto-group-grt7-KSR .top-side-tho .register-cfj {
  margin-bottom: 0.1951rem;
  width: 11.0611rem;
  height: 4.1479rem;
  font-size: 1.6789rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.1007rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(276.14deg, #3a8ef6 110.84%, #6e39f9 296.74%);
  border-radius: 1.4506rem;
  flex-shrink: 0;
}
.web-login-EQy .auto-group-zyam-eMX {
  width: 100%;
  height: 116.2841rem;
  position: relative;
  flex-shrink: 0;
}
.web-login-EQy .auto-group-zyam-eMX .background-nTj {
  width: 42.303rem;
  height: 48.4025rem;
  position: absolute;
  left: 0;
  top: 5.706rem;
}
.web-login-EQy .auto-group-zyam-eMX .background-nTj .ellipse-2-gp1 {
  margin-bottom: 3.9352rem;
  width: 22.2337rem;
  height: 22.2337rem;
  filter: blur(15.5931rem);
  background-color: rgba(68, 116, 242, 0.4499999881);
  border-radius: 11.1168rem;
}
.web-login-EQy .auto-group-zyam-eMX .background-nTj .ellipse-1-CXT {
  margin-left: 20.0693rem;
  width: 22.2337rem;
  height: 22.2337rem;
  filter: blur(15.5931rem);
  background-color: #4461f2;
  border-radius: 11.1168rem;
}
.web-login-EQy .auto-group-zyam-eMX .shirtless-bodybuilder-jumping-place-removebg-preview-1-KMB {
  width: 77.5228rem;
  height: 116.2841rem;
  position: absolute;
  left: 46.2382rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.web-login-EQy .auto-group-zyam-eMX .texte-SAu {
  width: 124.2208rem;
  height: 45.7169rem;
  position: absolute;
  left: 5.6076rem;
  top: 2.191rem;
}
.web-login-EQy .auto-group-zyam-eMX .texte-SAu .item--wNZ {
  margin: 0rem 0rem 4.769rem 110.421rem;
  font-size: 4.5767rem;
  font-weight: 700;
  line-height: 1.6551571981;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-login-EQy .auto-group-zyam-eMX .texte-SAu .item--2eu {
  margin-bottom: 2.3478rem;
  max-width: 24.8rem;
  font-size: 6.3566rem;
  font-weight: 700;
  line-height: 1.1917132065;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.web-login-EQy .auto-group-zyam-eMX .texte-SAu .item--K8D {
  margin-left: 0.1557rem;
  max-width: 20.6rem;
  cursor: pointer;
  font-size: 2.7121rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.web-login-EQy .auto-group-zyam-eMX .texte-SAu .item--K8D .item--K8D-sub-0 {
}
.web-login-EQy .auto-group-zyam-eMX .texte-SAu .item--K8D .item--K8D-sub-1 {
  font-size: 2.7121rem;
  font-weight: 600;
  line-height: 1.5;
  color: #4461f2;
  font-family: Poppins, 'Source Sans Pro';
}
.web-login-EQy .auto-group-zyam-eMX .texte-SAu .item--K8D .item--K8D-sub-2 {
}
.web-login-EQy .auto-group-zyam-eMX .enter-name-8E5 {
  width: 39.3517rem;
  height: 7.6rem;
  position: absolute;
  left: 115.989rem;
  top: 12.4941rem;
}
.web-login-EQy .auto-group-zyam-eMX .enter-name-8E5 .rectangle-2-369 {
  width: 39.3517rem;
  height: 5.9027rem;
  position: absolute;
  left: 0;
  top: 0.787rem;
  background-color: #eaf0f7;
  border-radius: 0.9838rem;
}
.web-login-EQy .auto-group-zyam-eMX .enter-name-8E5 .item--7rh {
  width: 14.4rem;
  height: 7.6rem;
  position: absolute;
  left: 1.9676rem;
  top: 0;
  font-size: 1.7708rem;
  font-weight: 500;
  line-height: 4.2777775624;
  letter-spacing: 0.1594rem;
  color: #4f555a;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-login-EQy .auto-group-zyam-eMX .enter-name-8E5 .x-icon-nC9 {
  width: 1.82rem;
  height: 1.82rem;
  position: absolute;
  left: 35.023rem;
  top: 2.853rem;
  object-fit: contain;
  vertical-align: top;
}
.web-login-EQy .auto-group-zyam-eMX .password-hpu {
  box-sizing: border-box;
  padding: 1.771rem 2.539rem 1.732rem 1.968rem;
  width: 39.3517rem;
  height: 5.9027rem;
  position: absolute;
  left: 115.989rem;
  top: 21.1515rem;
  display: flex;
  align-items: center;
  background-color: #eaf0f7;
  border-radius: 0.9838rem;
}
.web-login-EQy .auto-group-zyam-eMX .password-hpu .item--CFs {
  margin-right: 21.3171rem;
  font-size: 2.5579rem;
  font-weight: 400;
  line-height: 0.9230769919;
  color: #667085;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-login-EQy .auto-group-zyam-eMX .password-hpu .x-icon-hiR {
  margin-bottom: 0.1865rem;
  width: 1.9276rem;
  height: 1.6232rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-login-EQy .auto-group-zyam-eMX .forms-bJ1 {
  width: 40.8rem;
  height: 33.4795rem;
  position: absolute;
  left: 116.0739rem;
  top: 26.3562rem;
}
.web-login-EQy .auto-group-zyam-eMX .forms-bJ1 .auto-group-fmgd-71T {
  box-sizing: border-box;
  padding: 0rem 0.014rem 1.286rem 0.014rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.web-login-EQy .auto-group-zyam-eMX .forms-bJ1 .auto-group-fmgd-71T .item--E65 {
  margin: 0rem 6.263rem 1rem 0rem;
  font-size: 1.3826rem;
  font-weight: 500;
  line-height: 5.5000005173;
  letter-spacing: 0.1383rem;
  color: #c7c7c7;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-login-EQy .auto-group-zyam-eMX .forms-bJ1 .auto-group-fmgd-71T .bouton-sign-in-gyf {
  margin-right: 1.2689rem;
  width: 39.5039rem;
  height: 7.7rem;
  position: relative;
  border-radius: 0.9876rem;
  flex-shrink: 0;
}
.web-login-EQy .auto-group-zyam-eMX .forms-bJ1 .auto-group-fmgd-71T .bouton-sign-in-gyf .rectangle-4-RwF {
  width: 39.5039rem;
  height: 5.9256rem;
  position: absolute;
  left: 0;
  top: 0.9784rem;
  box-shadow: 0 1.1851rem 2.074rem rgba(68, 97, 242, 0.150000006);
  background-color: #4461f2;
  border-radius: 0.9876rem;
}
.web-login-EQy .auto-group-zyam-eMX .forms-bJ1 .auto-group-fmgd-71T .bouton-sign-in-gyf .item--ivM {
  width: 3.9rem;
  height: 7.7rem;
  position: absolute;
  left: 17.2864rem;
  top: 0;
  font-size: 1.8764rem;
  font-weight: 700;
  line-height: 4.0526318571;
  letter-spacing: 0.1689rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-login-EQy .auto-group-zyam-eMX .forms-bJ1 .line-LRw {
  margin-bottom: 2.1682rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.web-login-EQy .auto-group-zyam-eMX .forms-bJ1 .line-LRw .line-1-V3w {
  margin: 0.185rem 2.4rem 0rem 0rem;
  width: 16.8rem;
  height: 0.0988rem;
  background-color: #dfdfdf;
  flex-shrink: 0;
}
.web-login-EQy .auto-group-zyam-eMX .forms-bJ1 .line-LRw .item--Mbw {
  margin-right: 2.8rem;
  font-size: 1.3826rem;
  font-weight: 500;
  line-height: 5.5000005173;
  letter-spacing: 0.1244rem;
  color: #acadac;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-login-EQy .auto-group-zyam-eMX .forms-bJ1 .line-LRw .line-2-FSR {
  margin-top: 0.0864rem;
  width: 16.8rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-login-EQy .auto-group-zyam-eMX .forms-bJ1 .auto-group-ngvf-PYd {
  margin-left: 0.0136rem;
  height: 5.9256rem;
  display: flex;
  column-gap: 2.469rem;
  align-items: center;
}
.web-login-EQy .auto-group-zyam-eMX .forms-bJ1 .auto-group-ngvf-PYd .google-iqo {
  box-sizing: border-box;
  padding: 1.432rem 4.381rem 1.518rem 4.486rem;
  height: 100%;
  border: solid 0.0988rem #dcdfdc;
  background-color: #f6f6f6;
  border-radius: 0.9876rem;
  flex-shrink: 0;
}
.web-login-EQy .auto-group-zyam-eMX .forms-bJ1 .auto-group-ngvf-PYd .google-iqo .wrapper-9AR {
  width: 2.6875rem;
  height: 2.9757rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.web-login-EQy .auto-group-zyam-eMX .forms-bJ1 .auto-group-ngvf-PYd .apple-ess {
  box-sizing: border-box;
  padding: 1.432rem 4.692rem 1.494rem 4.563rem;
  height: 100%;
  box-shadow: 0 0.9876rem 1.2839rem rgba(0, 0, 0, 0.1299999952);
  background-color: #ffffff;
  border-radius: 0.9876rem;
  flex-shrink: 0;
}
.web-login-EQy .auto-group-zyam-eMX .forms-bJ1 .auto-group-ngvf-PYd .apple-ess .shape-njB {
  width: 2.3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
}
.web-login-EQy .auto-group-zyam-eMX .forms-bJ1 .auto-group-ngvf-PYd .facebook-Hvq {
  box-sizing: border-box;
  padding: 0.946rem 3.316rem 0.98rem 4.239rem;
  height: 100%;
  border: solid 0.0988rem #dcdfdc;
  background-color: #f6f6f6;
  border-radius: 0.9876rem;
  flex-shrink: 0;
}
.web-login-EQy .auto-group-zyam-eMX .forms-bJ1 .auto-group-ngvf-PYd .facebook-Hvq .sns-kakaotalk-E5P {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
}
