
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 172.8rem;
}.web-main-page-home-search1-qff {
  width: 100%;
  height: 393.1rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0.9rem 1.7rem 1.1rem rgba(255, 255, 255, 0.349999994);
  background-color: #f3f3fc;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ {
  width: 183.6364rem;
  height: 102.1rem;
  position: absolute;
  left: 13rem;
  top: 8.2rem;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .background-QsB {
  width: 111.6279rem;
  height: 35.0279rem;
  position: absolute;
  left: 22.9rem;
  top: 19.4rem;
  display: flex;
  align-items: flex-end;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .background-QsB .ellipse-2-jPf {
  margin: 0rem 54.2rem 2.828rem 0rem;
  width: 32.2rem;
  height: 32.2rem;
  filter: blur(22.5827rem);
  background-color: rgba(42, 113, 221, 0.4499999881);
  border-radius: 16.1rem;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .background-QsB .ellipse-1-RXP {
  width: 25.2279rem;
  height: 25.2279rem;
  filter: blur(17.693rem);
  background-color: #4461f2;
  border-radius: 12.614rem;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .frame-1-kZf {
  width: 20.8rem;
  height: 6.8196rem;
  position: absolute;
  left: 126rem;
  top: 0;
  display: flex;
  font-size: 3.4rem;
  font-weight: 900;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(276.14deg, #3a8ef6 110.84%, #6e39f9 296.74%);
  border-radius: 1.7049rem;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .group-7-P6q {
  width: 7.8rem;
  height: 4.6334rem;
  position: absolute;
  left: 77.8rem;
  top: 0.95rem;
  display: flex;
  font-size: 2.5383rem;
  font-weight: 700;
  line-height: 1.5;
  color: #404040;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  border-bottom: solid 0.238rem #115ebf;
  box-sizing: border-box;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .frame-2-T6h {
  box-sizing: border-box;
  padding: 1.4rem 1.5rem 1rem 10.7rem;
  width: 34.1rem;
  height: 7.2rem;
  position: absolute;
  left: 0;
  top: 20.9rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #b3b3b3;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 4rem;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .frame-2-T6h .item--Y89 {
  margin-right: 7.9rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #515151;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .frame-2-T6h .group-20-o45 {
  width: 6.1rem;
  height: 4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .item--6Yy {
  width: 51.4rem;
  height: 21rem;
  position: absolute;
  left: 0.1rem;
  top: 36.4rem;
  display: flex;
  font-size: 9rem;
  font-weight: 700;
  line-height: 1.1666666667;
  color: #1678f2;
  font-family: Poppins, 'Source Sans Pro';
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .item--6Yy .item--6Yy-sub-0 {
  font-size: 9rem;
  font-weight: 700;
  line-height: 1.1666666667;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .item--6Yy .item--6Yy-sub-1 {
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .bmi--wCD {
  width: 45.9rem;
  height: 4.3rem;
  position: absolute;
  left: 0.1rem;
  top: 68rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.34375;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .rectangle-25-Cdw {
  width: 86.9rem;
  height: 12rem;
  position: absolute;
  left: 0;
  top: 78.8rem;
  box-shadow: 0.2rem 0.6rem 0.4rem rgba(144, 139, 139, 0.400000006);
  background-color: #f8f6f6;
  border-radius: 5rem;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .item--TJy {
  width: 18.4rem;
  height: 4.5rem;
  position: absolute;
  left: 4.7rem;
  top: 82.5rem;
  display: flex;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(81, 81, 81, 0.8000000119);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .kisspng-physician-diabetes-mellitus-computer-disease-preve-doctor-and-computer-5a99b82dcadc58-1-6sj {
  width: 128.5364rem;
  height: 96.5rem;
  position: absolute;
  left: 55.1rem;
  top: 5.6rem;
  object-fit: cover;
  vertical-align: top;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .frame-9-ygd {
  width: 27.4rem;
  height: 7.8rem;
  position: absolute;
  left: 56.4rem;
  top: 80.9rem;
  display: flex;
  column-gap: 2rem;
  align-items: center;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .frame-9-ygd .group-237461-6FT {
  box-sizing: border-box;
  padding: 2.444rem 2.122rem 2.544rem 2.022rem;
  height: 100%;
  background: linear-gradient(276.14deg, #3a8ef6 110.84%, #6e39f9 296.74%);
  border-radius: 3.9rem;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .frame-9-ygd .group-237461-6FT .heroicons-outline-photo-px9 {
  width: 3.6563rem;
  height: 2.8125rem;
  object-fit: contain;
  vertical-align: top;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .frame-9-ygd .group-237462-6em {
  box-sizing: border-box;
  padding: 1.881rem 2.825rem 1.981rem 2.725rem;
  height: 100%;
  background: linear-gradient(276.14deg, #3a8ef6 110.84%, #6e39f9 296.74%);
  border-radius: 3.9rem;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .frame-9-ygd .group-237462-6em .heroicons-outline-microphone-p4y {
  width: 2.25rem;
  height: 3.9375rem;
  object-fit: contain;
  vertical-align: top;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .frame-9-ygd .group-237463-7Jy {
  box-sizing: border-box;
  padding: 2.163rem 2.263rem 2.263rem 2.163rem;
  height: 100%;
  background: linear-gradient(276.14deg, #3a8ef6 110.84%, #6e39f9 296.74%);
  border-radius: 3.9rem;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .frame-9-ygd .group-237463-7Jy .heroicons-outline-magnifying-glass-FAH {
  width: 3.375rem;
  height: 3.375rem;
  object-fit: contain;
  vertical-align: top;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .group-1-k73 {
  width: 8.3684rem;
  height: 7.1214rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
  object-fit: contain;
  vertical-align: top;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .item--G5P {
  width: 3.1rem;
  height: 3.9rem;
  position: absolute;
  left: 101.8rem;
  top: 1.05rem;
  display: flex;
  font-size: 2.538rem;
  font-weight: 400;
  line-height: 1.5;
  color: #565148;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .item--9ey {
  width: 3.1rem;
  height: 3.9rem;
  position: absolute;
  left: 91rem;
  top: 1.05rem;
  display: flex;
  font-size: 2.538rem;
  font-weight: 400;
  line-height: 1.5;
  color: #565148;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .group-6-4G9 {
  width: 24.3415rem;
  height: 7.8rem;
  position: absolute;
  left: 9.9rem;
  top: 1.1rem;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .group-6-4G9 .group-3-PZK {
  width: 3.2415rem;
  height: 3.2415rem;
  position: absolute;
  left: 21.1rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .group-6-4G9 .helpthme-XfX {
  width: 22.4rem;
  height: 6.6rem;
  position: absolute;
  left: 0;
  top: 1.2rem;
  display: flex;
  font-size: 4.4rem;
  font-weight: 900;
  line-height: 1.5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .auto-group-8brs-9AZ .item--EZw {
  width: 6.1rem;
  height: 3.9rem;
  position: absolute;
  left: 112.2rem;
  top: 1.15rem;
  display: flex;
  font-size: 2.538rem;
  font-weight: 400;
  line-height: 1.5;
  color: #565148;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .auto-group-vopm-WGZ {
  width: 151.4rem;
  height: 41.3rem;
  position: absolute;
  left: 12.8rem;
  top: 113.8rem;
  display: flex;
  align-items: center;
}
.web-main-page-home-search1-qff .auto-group-vopm-WGZ .auto-group-cbkd-zhX {
  margin: 0rem 18.827rem 2.1rem 0rem;
  width: 38.2729rem;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .auto-group-vopm-WGZ .auto-group-cbkd-zhX .item--itR {
  margin-bottom: 2.8rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.782rem;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .auto-group-vopm-WGZ .auto-group-cbkd-zhX .auto-group-gxpp-SJd {
  margin-bottom: 0.7rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.web-main-page-home-search1-qff .auto-group-vopm-WGZ .auto-group-cbkd-zhX .auto-group-gxpp-SJd .bmi--bBX {
  margin-right: 6.0542rem;
  max-width: 26.5rem;
  display: flex;
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .auto-group-vopm-WGZ .auto-group-cbkd-zhX .auto-group-gxpp-SJd .medical-heart-rate-Vnh {
  margin-bottom: 0.1559rem;
  width: 5.7188rem;
  height: 5.2358rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .auto-group-vopm-WGZ .auto-group-cbkd-zhX .item--baq {
  margin-left: 0.3rem;
  max-width: 32.8rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
}
.web-main-page-home-search1-qff .auto-group-vopm-WGZ .auto-group-n2l9-2AM {
  margin: 0rem 5.3rem 8.7rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .auto-group-vopm-WGZ .auto-group-n2l9-2AM .diet-1-kc9 {
  margin: 0rem 0rem 0.3rem 1.5rem;
  width: 10.9075rem;
  height: 11.1rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .auto-group-vopm-WGZ .auto-group-n2l9-2AM .item--gEu {
  margin: 0rem 0rem 2.8rem 0.3rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .auto-group-vopm-WGZ .auto-group-n2l9-2AM .item--yUu {
  max-width: 29.8rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .auto-group-vopm-WGZ .auto-group-8jez-E9w {
  margin: 20.9rem 13.8rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .auto-group-vopm-WGZ .auto-group-8jez-E9w .chatbot-1-7jX {
  margin-bottom: 0.6rem;
  width: 15.8rem;
  height: 15.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .auto-group-vopm-WGZ .auto-group-8jez-E9w .item--THb {
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .auto-group-vopm-WGZ .auto-group-wtrt-y13 {
  margin-bottom: 11.3rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .auto-group-vopm-WGZ .auto-group-wtrt-y13 .stats-2-1-KKo {
  margin: 0rem 0rem 0.8rem 0.8rem;
  width: 12.8rem;
  height: 12.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .auto-group-vopm-WGZ .auto-group-wtrt-y13 .item--SQR {
  margin-bottom: 2.4rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .auto-group-vopm-WGZ .auto-group-wtrt-y13 .item--Xgm {
  max-width: 29.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .item--Ajj {
  width: 29.8rem;
  height: 9.6rem;
  position: absolute;
  left: 105rem;
  top: 157.8rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
}
.web-main-page-home-search1-qff .auto-group-hbrb-cLq {
  width: 147.035rem;
  height: 10.5rem;
  position: absolute;
  left: 12.8rem;
  top: 184rem;
  display: flex;
  align-items: center;
}
.web-main-page-home-search1-qff .auto-group-hbrb-cLq .item--YEV {
  display: flex;
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .auto-group-hbrb-cLq .auto-group-jnkt-TsF {
  box-sizing: border-box;
  padding: 1.2rem 0rem 0.783rem 106.558rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .auto-group-hbrb-cLq .auto-group-jnkt-TsF .auto-group-tstv-nuX {
  margin-right: 2.6542rem;
  width: 8.3417rem;
  height: 8.5175rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .auto-group-hbrb-cLq .auto-group-jnkt-TsF .auto-group-drv1-WKj {
  width: 8.2808rem;
  height: 8.5175rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .item--Bwf {
  width: 12rem;
  height: 5.1rem;
  position: absolute;
  left: 12.8rem;
  top: 176.1rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.782rem;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .frame-3-sZb {
  width: 273.1rem;
  height: 52.4rem;
  position: absolute;
  left: 13.1rem;
  top: 199rem;
  display: flex;
  align-items: center;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-fa4h-bkV {
  box-sizing: border-box;
  padding: 1.2rem 6rem 1.2rem 0rem;
  width: 185rem;
  height: 100%;
  display: flex;
  column-gap: 6rem;
  align-items: center;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-fa4h-bkV .group-237456-uWH {
  width: 31rem;
  height: 100%;
  border-radius: 4.2649rem;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-fa4h-bkV .group-237456-uWH .rectangle-1-3sP {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-q3X.png');
  border-radius: 4.2649rem;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-fa4h-bkV .group-237456-uWH .item--MNH {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-fa4h-bkV .group-237456-uWH .item--2zD {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-fa4h-bkV .group-237457-9J9 {
  width: 31rem;
  height: 100%;
  border-radius: 4.2649rem;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-fa4h-bkV .group-237457-9J9 .rectangle-1-hKf {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-cuF.png');
  border-radius: 4.2649rem;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-fa4h-bkV .group-237457-9J9 .item--chX {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-fa4h-bkV .group-237457-9J9 .item--XpV {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-fa4h-bkV .group-237458-Q7b {
  width: 31rem;
  height: 100%;
  border-radius: 4.2649rem;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-fa4h-bkV .group-237458-Q7b .rectangle-1-Yjb {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-HvR.png');
  border-radius: 4.2649rem;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-fa4h-bkV .group-237458-Q7b .item--e1w {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-fa4h-bkV .group-237458-Q7b .item--jp5 {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-fa4h-bkV .group-237459-qMK {
  width: 31rem;
  height: 100%;
  border-radius: 4.2649rem;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-fa4h-bkV .group-237459-qMK .rectangle-1-Bvy {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-hm3.png');
  border-radius: 4.2649rem;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-fa4h-bkV .group-237459-qMK .item--73w {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-fa4h-bkV .group-237459-qMK .item--2Au {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-fa4h-bkV .group-237460-w2y {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4.2649rem;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-fa4h-bkV .group-237460-w2y .rectangle-1-Tn1 {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-fbw.png');
  border-radius: 4.2649rem;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-fa4h-bkV .group-237460-w2y .item--9uj {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-fa4h-bkV .group-237460-w2y .item--4mo {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-iu8m-Ygy {
  width: 88.1rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-iu8m-Ygy .group-237461-WNu {
  box-sizing: border-box;
  padding-bottom: 2.4rem;
  width: 51.1rem;
  height: 52.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4.2649rem;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-iu8m-Ygy .group-237461-WNu .rectangle-1-3Nq {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-UCq.png');
  border-radius: 4.2649rem;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-iu8m-Ygy .group-237461-WNu .product-name-Zc5 {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-iu8m-Ygy .group-237461-WNu .lorem-ipsum-amet-dolor-etit-tu-etR {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-iu8m-Ygy .group-237462-NZX {
  box-sizing: border-box;
  padding-bottom: 2.4rem;
  width: 51.1rem;
  height: 52.4rem;
  position: absolute;
  left: 37rem;
  top: 0;
  border-radius: 4.2649rem;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-iu8m-Ygy .group-237462-NZX .rectangle-1-hbo {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-9T7.png');
  border-radius: 4.2649rem;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-iu8m-Ygy .group-237462-NZX .product-name-2PB {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .frame-3-sZb .auto-group-iu8m-Ygy .group-237462-NZX .lorem-ipsum-amet-dolor-etit-tu-YcR {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .frame-4-TzH {
  width: 273.1rem;
  height: 52.4rem;
  position: absolute;
  left: 12rem;
  top: 263.6rem;
  display: flex;
  align-items: center;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-mv7k-CS5 {
  box-sizing: border-box;
  padding: 1.2rem 6rem 1.2rem 0rem;
  width: 185rem;
  height: 100%;
  display: flex;
  column-gap: 6rem;
  align-items: center;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-mv7k-CS5 .group-237456-4z5 {
  width: 31rem;
  height: 100%;
  border-radius: 4.2649rem;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-mv7k-CS5 .group-237456-4z5 .rectangle-1-2R7 {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-c4y.png');
  border-radius: 4.2649rem;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-mv7k-CS5 .group-237456-4z5 .item--MCV {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-mv7k-CS5 .group-237456-4z5 .item--fDB {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-mv7k-CS5 .group-237457-mn1 {
  width: 31rem;
  height: 100%;
  border-radius: 4.2649rem;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-mv7k-CS5 .group-237457-mn1 .rectangle-1-veu {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-3cu.png');
  border-radius: 4.2649rem;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-mv7k-CS5 .group-237457-mn1 .item--3Dj {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-mv7k-CS5 .group-237457-mn1 .item--8FB {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-mv7k-CS5 .group-237458-EJD {
  width: 31rem;
  height: 100%;
  border-radius: 4.2649rem;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-mv7k-CS5 .group-237458-EJD .rectangle-1-ass {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-hg5.png');
  border-radius: 4.2649rem;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-mv7k-CS5 .group-237458-EJD .item--HnH {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-mv7k-CS5 .group-237458-EJD .item--p1X {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-mv7k-CS5 .group-237459-VNZ {
  width: 31rem;
  height: 100%;
  border-radius: 4.2649rem;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-mv7k-CS5 .group-237459-VNZ .rectangle-1-dUm {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-S3s.png');
  border-radius: 4.2649rem;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-mv7k-CS5 .group-237459-VNZ .item--jGu {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-mv7k-CS5 .group-237459-VNZ .item--FW9 {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-mv7k-CS5 .group-237460-mDb {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4.2649rem;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-mv7k-CS5 .group-237460-mDb .rectangle-1-6Wm {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-owP.png');
  border-radius: 4.2649rem;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-mv7k-CS5 .group-237460-mDb .item--QnM {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-mv7k-CS5 .group-237460-mDb .item--iY9 {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-nuwd-1XF {
  width: 88.1rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-nuwd-1XF .group-237461-wA1 {
  box-sizing: border-box;
  padding-bottom: 2.4rem;
  width: 51.1rem;
  height: 52.4rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4.2649rem;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-nuwd-1XF .group-237461-wA1 .rectangle-1-4VX {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-m7w.png');
  border-radius: 4.2649rem;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-nuwd-1XF .group-237461-wA1 .product-name-MUd {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-nuwd-1XF .group-237461-wA1 .lorem-ipsum-amet-dolor-etit-tu-H7P {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-nuwd-1XF .group-237462-13P {
  box-sizing: border-box;
  padding-bottom: 2.4rem;
  width: 51.1rem;
  height: 52.4rem;
  position: absolute;
  left: 37rem;
  top: 0;
  border-radius: 4.2649rem;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-nuwd-1XF .group-237462-13P .rectangle-1-vw3 {
  margin-bottom: 2.2rem;
  width: 30.9rem;
  height: 37rem;
  background-color: #d9d9d9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-1-bg-4hX.png');
  border-radius: 4.2649rem;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-nuwd-1XF .group-237462-13P .product-name-TRB {
  margin: 0rem 0rem 2rem 0.6rem;
  display: flex;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1.1764705882;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .frame-4-TzH .auto-group-nuwd-1XF .group-237462-13P .lorem-ipsum-amet-dolor-etit-tu-MmT {
  margin-left: 0.6rem;
  display: flex;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #8a8484;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .footer-v1-tFb {
  box-sizing: border-box;
  padding-top: 0.12rem;
  width: 172.7468rem;
  height: 64.9rem;
  position: absolute;
  left: 0;
  top: 328.2rem;
  overflow: hidden;
  border-top: solid 0.12rem #eff0f6;
  background-color: #ffffff;
  border-radius: 5rem;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM {
  box-sizing: border-box;
  padding: 14.276rem 11.996rem 2.894rem 10.419rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy {
  margin: 0rem 84.581rem 10.097rem 0rem;
  width: calc(100% - 84.5814rem);
  height: 30.9012rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy .px-qa9 {
  margin-right: 12.7585rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy .px-qa9 .group-1-ygM {
  margin: 0rem 0rem 2.879rem 1.458rem;
  width: 8.3684rem;
  height: 7.1214rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy .px-qa9 .group-237468-fZB {
  margin: 0rem 0rem 2.879rem 1.458rem;
  width: 24.4651rem;
  height: 8.1961rem;
  position: relative;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy .px-qa9 .group-237468-fZB .group-3-kqX {
  width: 3.2415rem;
  height: 3.2415rem;
  position: absolute;
  left: 21.2237rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy .px-qa9 .group-237468-fZB .helpthme-gz5 {
  width: 22.4rem;
  height: 6.6rem;
  position: absolute;
  left: 0;
  top: 1.5961rem;
  display: flex;
  font-size: 4.4rem;
  font-weight: 900;
  line-height: 1.5;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy .px-qa9 .copyright-AuF {
  margin: 0rem 0rem 1.847rem 1.458rem;
  font-size: 2.1593rem;
  font-weight: 400;
  line-height: 1.6666666961;
  color: #6e6b8f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy .px-qa9 .social-media-container-tKT {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy .px-qa9 .social-media-container-tKT .social-media-icon-square-facebook-qEh {
  margin: 0rem 0.12rem 0.06rem 0rem;
  width: 4.3187rem;
  height: 4.3187rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy .px-qa9 .social-media-container-tKT .social-media-icon-square-twitter-vG9 {
  margin: 0rem 0.6rem 0.06rem 0rem;
  width: 4.3187rem;
  height: 4.3187rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy .px-qa9 .social-media-container-tKT .social-media-icon-square-instagram-eC9 {
  margin: 0rem 0.6rem 0.06rem 0rem;
  width: 4.3187rem;
  height: 4.3187rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy .px-qa9 .social-media-container-tKT .social-media-icon-square-linkedin-xid {
  margin: 0.06rem 0.72rem 0rem 0rem;
  width: 4.3187rem;
  height: 4.3187rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy .px-qa9 .social-media-container-tKT .social-media-icon-square-youtube-sKo {
  margin-bottom: 0.06rem;
  width: 4.3187rem;
  height: 4.3187rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy .group-39464-C7B {
  width: 27.069rem;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy .group-39464-C7B .footer-title-k8h {
  margin: 0rem 0rem 4.978rem 0rem;
  font-size: 2.3993rem;
  font-weight: 700;
  line-height: 1.1000000397;
  color: #1678f2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy .group-39464-C7B .master-link-3db {
  box-sizing: border-box;
  padding-left: 0.1999rem;
  width: 100%;
  height: 2.3997rem;
  display: flex;
  align-items: center;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy .group-39464-C7B .master-link-3db .line-rounded-email-b9K {
  margin: 0.028rem 3.07rem 0rem 0rem;
  width: 1.9994rem;
  height: 1.4996rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy .group-39464-C7B .master-link-3db .auto-group-9bfx-gRf {
  margin-bottom: 0.3997rem;
  width: 21.8rem;
  height: 2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1111111111;
  color: #4f555a;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy .group-39464-C7B .auto-group-91cd-Mnh {
  box-sizing: border-box;
  padding-top: 2.6388rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy .group-39464-C7B .auto-group-91cd-Mnh .master-link-71B {
  margin: 0rem 7.65rem 2.639rem 0rem;
  box-sizing: border-box;
  padding-left: 0.1999rem;
  width: calc(100% - 7.65rem);
  height: 2.3997rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy .group-39464-C7B .auto-group-91cd-Mnh .master-link-71B .line-rounded-phone-RGm {
  margin: 0.164rem 2.32rem 0rem 0rem;
  width: 1.9996rem;
  height: 1.9994rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy .group-39464-C7B .auto-group-91cd-Mnh .master-link-71B .auto-group-g6zm-9Cm {
  width: 14.9rem;
  height: 2rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.1111111111;
  color: #4f555a;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy .group-39464-C7B .auto-group-91cd-Mnh .px-2XT {
  margin-right: 11.7101rem;
  width: calc(100% - 11.7101rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy .group-39464-C7B .auto-group-91cd-Mnh .px-2XT .spacer-icon-wrapper-B9T {
  margin-right: 0.9597rem;
  width: 2.3993rem;
  height: 3.0831rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .auto-group-yqfx-vxy .group-39464-C7B .auto-group-91cd-Mnh .px-2XT .footer-description-Jjs {
  max-width: 12rem;
  font-size: 2.1593rem;
  font-weight: 400;
  line-height: 1.6666666961;
  color: #4f555a;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .line-135-E7j {
  margin: 0rem 0rem 2.892rem 1.458rem;
  width: 148.8741rem;
  height: 0.12rem;
  background-color: #d9dbe9;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .footer-content-MTF {
  margin: 0rem 1.671rem 0rem 2.705rem;
  width: calc(100% - 4.3764rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .footer-content-MTF .footer-left-ehF {
  margin-right: 65.1554rem;
  font-size: 2.1593rem;
  font-weight: 400;
  line-height: 1.6666666961;
  color: #6e6b8f;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .footer-content-MTF .footer-right-m1B {
  text-align: right;
  font-size: 2.1593rem;
  font-weight: 400;
  line-height: 1.6666666961;
  color: #6e6b8f;
  font-family: DM Sans, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .footer-content-MTF .footer-right-m1B .footer-right-m1B-sub-0 {
  font-size: 2.1593rem;
  font-weight: 400;
  line-height: 1.6666666961;
  color: #6e6b8f;
  font-family: Poppins, 'Source Sans Pro';
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .footer-content-MTF .footer-right-m1B .footer-right-m1B-sub-1 {
  font-size: 2.1593rem;
  font-weight: 400;
  line-height: 1.6666666961;
  text-decoration-line: underline;
  color: #4a3aff;
  font-family: Poppins, 'Source Sans Pro';
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .footer-content-MTF .footer-right-m1B .footer-right-m1B-sub-2 {
  font-size: 2.1593rem;
  font-weight: 400;
  line-height: 1.6666666961;
  color: #6e6b8f;
  font-family: Poppins, 'Source Sans Pro';
}
.web-main-page-home-search1-qff .footer-v1-tFb .auto-group-gayz-otM .footer-content-MTF .footer-right-m1B .footer-right-m1B-sub-3 {
  font-size: 2.1593rem;
  font-weight: 400;
  line-height: 1.6666666961;
  text-decoration-line: underline;
  color: #4a3aff;
  font-family: Poppins, 'Source Sans Pro';
}
